@inject GameState State

<HeadContent>
    <style>
            :root {
                --board-bg: yellow;
                --player1: red;
                --player2: blue;
            }
    </style>
</HeadContent>

<nav>
    @for (byte i = 0; i < 7; i++)
    {
        var col = i;
        <span title="Click to play a piece" @onclick="() => PlayPiece(col)">🔽</span>
    }
</nav>

<div>
    <div class="board">
        @for (var i = 0; i < 42; i++)
        {
            <span class="container">
                <span></span>
            </span>
        }
    </div>

    @for (var i = 0; i < 42; i++)
    {
        <span class="@pieces[i]"></span>
    }
</div>

@code {
    private string[] pieces = new string[42];
    

    protected override void OnInitialized()
    {
        State.ResetBoard();
    }

    private void PlayPiece(byte col)
    {
        var player = State.PlayerTurn; // Get current player
        var turn = State.CurrentTurn; // Get turn number (index in pieces array)
        var landingRow = State.PlayPiece(col); // Tell GameState to play a piece and get the row it lands in
        pieces[turn] = $"player{player} col{col} drop{landingRow}"; // Assign CSS classes
    }

}